<%- include('../partials/header.ejs')  %>

<h1 class="mt-5 mx-3" id="singleTask"><%= todo.task %></h1>
<p class="mx-3">Created At : <%= todo.createdAt %></p>
<p class="mx-3">Updated At : <%= todo.updatedAt %></p>


  
<%- include('../partials/footer.ejs')  %>


