<%- include('../partials/header.ejs') %>
<div class="container">
  <span>
    <h3>Add Tasks</h3>
    <form action="/todos" method="post" class="form-group">
      <input type="text" class="form-control" name="task" />
      <input type="submit" value="Add" class="btn btn-primary mt-3" />
    </form>
  </span>
  <ul class="mt-3 list-group">
    <% todos.forEach(todos => { %>
    <div class="task">
      <a
        href="/todos/<%= todos._id %>"
        class="list-group-item list-group-item-action list-group-item-info"
        ><%= todos.task %></a
      >
      <a href="/delete/todos/<%= todos._id %>">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLi28vKqVB5fJmXxlgfRAyDuetUX60W6X-ZQ&usqp=CAU"
          alt=""
          height="40px"
          width="40px"
        />
      </a>
      <!-- <a href="/update/todos/<%= todos._id %>">
          Edit
      </a> -->
    </div>
    <% }) %>
  </ul>
</div>

<%- include('../partials/footer.ejs') %>
